version: "3.9"

services:
  db:
    image: postgres:15
    container_name: pg_project_mgmt
    environment:
      POSTGRES_DB: project_management
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  adminer:
    image: adminer
    container_name: adminer_project_mgmt
    ports:
      - "8081:8080"
    depends_on:
      - db

volumes:
  postgres_data:
